/* GOD: Working and helped by ChatGPT 3.5 ::)) */
html {
  display: flex;
  height: 100%;
  width: 100%;
}

body {
  background-color: #0b3d91;
  color: #ffcc00;
  font-family: "Press Start 2P", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#game-title {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  color: #ffcc00;
  background: #ffcc00;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin: 20px 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

#game-board-container {
  position: relative;
  width: 90%;
  max-width: 510px;
  height: 90vh;
  max-height: 510px;
  margin: 0 auto;
}

#myCanvas {
  background-color: #000000;
  border: 5px solid #ffffff;
  width: 100%;
  height: 100%;
}

#pause-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2em;
  text-align: center;
}

#pause-overlay p {
  margin: 0;
  padding: 10px;
}

#control-legend {
  text-align: center;
  margin-top: 40px;
  padding: 10px;
  background-color: #ffcc00;
  border: 3px solid #ff0000;
  border-radius: 8px;
  box-shadow: 2px 2px 0px #ff0000;
  color: black;
}

#control-legend p {
  margin: 5px;
  font-size: 0.8rem;
}

#footer {
  text-align: center;
  margin-top: 20px;
}

#footer h5 {
  color: #ffffff;
  font-size: 0.8rem;
}

#footer a {
  color: #ffcc00;
  text-decoration: underline;
  transition: color 0.3s;
}

#footer a:hover {
  color: #ff0000;
}

/* DPad for touchscreens */
#touch-controls {
  display: none;
  column-gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#d-pad {
  position: relative;
  width: 240px;
  height: 160px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.d-pad-button {
  position: absolute;
  background-color: #ffcc00;
  border: 3px solid #ff0000;
  color: black;
  width: 80px;
  height: 80px;
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #ff0000;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.d-pad-button:focus {
  outline: none;
  transform: scale(1.2);
  box-shadow: 0 0 10px #ff0000, 0 0 15px #ffcc00;
}

#d-pad-up {
  top: 0;
  left: 80px;
}

#d-pad-down {
  top: 80px;
  left: 80px;
}

#d-pad-left {
  top: 80px;
  left: 0;
}

#d-pad-right {
  top: 80px;
  left: 160px;
}

/* Animations */
@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.zoom-animation {
  animation: zoomInOut 2s ease-in-out infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink-animation {
  animation: blink 2s ease-out 0s 3;
}

/* Responsive */
@media screen and (max-width: 600px) {
  #game-title {
    font-size: 2.2rem;
  }

  #touch-controls {
    display: flex;
    flex-direction: row;
  }

  #pause-overlay {
    font-size: 1.2em;
  }

  #game-board-container {
    width: 80%;
    height: 50vh;
  }
}

/* Responsive adjustments for tablets and wider screens */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  #game-title {
    font-size: 2.5rem;
  }

  #game-board-container {
    width: 70%;
    height: 70vh;
  }

  #touch-controls {
    display: flex;
    flex-direction: row;
  }

  #pause-overlay {
    font-size: 1.5em;
  }
}
